@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sedan", sans-serif;
    background-color: #e5e5e5c7;
}

h1 {
    text-align: center;
}

h3 {
    font-family: "Ubuntu";
    text-align: center;
}

header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: #033100a4;
    color: #ffffff;
    align-items: center;
}

#logo-img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: #ececec;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

#links a:hover {
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
    transform: scale(1.05);
}